/* Reset CSS */
/* Se agrego el reset porque agregaba un margin y 
padding  por defecto que modificaba todo el header que estamos agregando  */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-usuarios {
    flex: 1;
    justify-content: space-between;
}

/* #usuarios { */
/* color: white; */
/* } */

.imagen-comunidad {
    align-items: center;
    display: flex;
    justify-content: center;

}

.imagen-comunidad img {
    max-width: 100%;
    height: 850px;
    min-width: 550px;
    background-color: aqua;
    border-radius: 50px;
    margin: 20px;
}

.titulo-usuarios {
    padding: 20px;
    color: rgb(17, 17, 17);
    font-size: 32px;
}

.parrafo-usuarios {
    padding: 20px;
    color: #323963;
    font-size: 24px;
}

.chat-container img {
    width: 350px;
    height: 690px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.mensaje {
    border: 1px solid wheat;
    display: flex;
    justify-content: flex-end;
}

.message {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.user {
    background-color: #afca61;


}

.other {
    background-color: #b1b1b1;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 350px;
    max-width: 350px;
    height: 450px;
    margin: 45px;
    border: 1 dashed rgb(134, 134, 134);
    box-shadow: 3px 3px 20px 1px rgb(129, 128, 128);
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.card .text {
    padding: 10px;
}

.card .text h3 {
    padding: 10px;
}

.card .text p {
    padding: 10px;

}

@media (max-width: 1684px) {
    .chat-container {
        display: none;
    }

}

span {
    justify-content: center;
    display: flex;
}

.card button {
    border: 0;
    
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    transition: width 0.4s ease;
    background: linear-gradient(30deg, #e7ba2f, rgb(243, 181, 66), rgb(220, 233, 40));
}

.buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;

}

.buttons .seguir {
    background: linear-gradient(40deg, #adc344, rgb(201, 235, 183));
    color: black;
}



.explain-comunidad {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.entrada-comunidad {
    width: 650px;
    align-content: center;
}

.chat {
    background: linear-gradient(40deg, rgb(14, 198, 211), rgb(114, 117, 115));
    display: flex;
    margin: 0;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap
}

.chat h2 {
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
}

button:hover {
    width: 200px;
}

#habla {
    padding: 15px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#habla button {
    margin: 10px;
    
    width: 400px;
    height: 60px;
    
    font-size: 20px;
    max-width: 200px;
    border: none;

    background-color: #e7ba2f; /* Color de fondo verde claro */
    border: 2px solid black;   /* Borde negro */
    box-shadow: inset 10px 10px 10px #d49839;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 225px;
    padding: 10px 20px;        /* Espaciado interno */
    color: black;              /* Color del texto */
    cursor: pointer;           /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.2s ease; /* Transición suave al pasar el mouse */
}

#habla button:hover {
    background-color: rgb(194, 197, 22);
}

.bocadillos-chat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bocadillos-chat img {
    width: 350px;
    height: 350px;
}

.boton-vermas {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.boton-vermas button {
    background-color: #e7ba2f; /* Color de fondo verde claro */
    border: 2px solid black;   /* Borde negro */
    
    box-shadow: inset 10px 10px 10px #d49839;
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 225px;
    padding: 10px 20px;        /* Espaciado interno */
    color: black;              /* Color del texto */
    cursor: pointer;           /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.2s ease; /* Transición suave al pasar el mouse */
    width: 400px;
    height: 60px;
    font-size: 20px;
    max-width: 200px;

}

.boton-vermas button:hover {
    background-color: #d49839; /* Cambia el color de fondo al pasar el mouse */
    box-shadow: inset 10px 10px 10px #e7ba2f;
    color: white;
}

.user-img {
    border-radius: 10px;
}

.text p {
    margin: 10px;
}